body {
  background-color: #f2f2f2;
}
input[type="text"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#btn-clear{
	background-color: #ff5e00;
}
#btn-clear:hover{
	background-color: #ff5e00d5;
}
button:hover {
  background-color: #45a049;
}
#result {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
}
.block {
  min-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}










.block{
	min-width: 1170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

ul{
	list-style: none;
}
li{
	padding: 10px;
}


